# Dependências
node_modules/

# Variáveis de ambiente (NUNCA subir isso)
.env
.env.*

# Prisma (ajuste se você tiver outro caminho de banco)
prisma/dev.db
prisma/dev.db-journal
/generated/prisma

# Logs
*.log
npm-debug.log*

# Arquivos de sistema
.DS_Store
Thumbs.db