<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8" />
  <title>Login - BuyFlow</title>
  <link rel="stylesheet" href="/css/styles.css" />
</head>
<body>
  <h1>BuyFlow - Login</h1>

  <% if (error) { %>
    <p style="color: rgb(0, 225, 255);"><%= error %></p>
  <% } %>

  <form method="POST" action="/login">
    <div>
      <label for="email">E-mail</label>
      <input type="email" id="email" name="email" required />
    </div>

    <div>
      <label for="senha">Senha</label>
      <input type="password" id="senha" name="senha" required />
    </div>

    <button type="submit">Entrar</button>
  </form>
</body>
</html>